* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
body.on-play{
  background-color: #000000;
  color: #fafafa;
}

img {
  display: block;
  max-width: 100%;
}


a {
  color: inherit;
  text-decoration: none;

}

.list {
  width: 550px;
  margin-top: 40vh;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  display: flex;
  padding: 0;
  gap: 50px;
}

.list__link {
  
  text-align: center;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border: 1px solid #212121;
  border-radius: 10px;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list__link:hover {
  transform: scale(1.06);

}

input {
  padding: 8px;
  font: inherit;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}
.player-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
#vimeo-player.on-play {
  transform: scale(2);

}
.feedback-form{
  margin-left: auto;
  margin-right: auto;
}
.input--error{
  border: 1px solid red;
}